{
  "extends": [
    "airbnb",
    "react-app",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "react/jsx-no-bind": [
      "error",
      {
        "ignoreRefs": false,
        "allowArrowFunctions": false,
        "allowBind": false
      }
    ],
    "react/sort-prop-types": [
      1,
      {
        "callbacksLast": true
      }
    ],
    "prettier/prettier": [
      1,
      {
        "singleQuote": true,
        "trailingComma": "all",
        "semi": false
      }
    ]
  }
}